# **Laboratorio 4**
### **Integrantes:**
* Maria Camila Parra Díaz (201819464)
* Esteban Emmanuel Ortiz Morales (201913613)  
* Sergio Julian Zona Moreno (201914936)

# **Depuración y análisis de los datos**

In [72]:
# Librerías para manejo de datos
import pandas as pd
pd.set_option('display.max_columns', 25) # Número máximo de columnas a mostrar
pd.set_option('display.max_rows', 50) # Numero máximo de filas a mostar

from nltk import word_tokenize, sent_tokenize
import re, string, unicodedata

# Para preparar los datos
# ------------------------
# Preprocesar
# Para visualizar un reporte de los datos.
#from pandas_profiling import ProfileReport

In [73]:
# Se cargan los datos.
df_city=pd.read_csv('dimension_city.csv', sep=',', encoding = 'latin-1', index_col=None)
df_customer=pd.read_csv('dimension_customer.csv', sep=',', encoding = 'latin-1', index_col=None)
df_date=pd.read_csv('dimension_date.csv', sep=',', encoding = 'latin-1', index_col=None)
df_employee=pd.read_csv('dimension_employee.csv', sep=',', encoding = 'latin-1', index_col=None)
df_stock_item=pd.read_csv('dimension_stock_item.csv', sep=',', encoding = 'latin-1', index_col=None) 
df_fact_order=pd.read_csv('fact_order.csv', sep=',', encoding = 'latin-1', index_col=None)

# Se reemplazan los espacios de los nombres de las columnas por ''.
df_customer.columns = df_customer.columns.str.replace(' ', '')

In [74]:
df_city.sample(10)

,City_Key,City,State_Province,Country,Continent,Sales_Territory,Region,Subregion,Latest_Recorded_Population
54,55,El Nido,California,United States,North America,Far West,Americas,Northern America,330
8,9,Carrollton,Mississippi,United States,North America,Southeast,Americas,Northern America,190
83,84,El Verano,California,United States,North America,Far West,Americas,Northern America,4123
28,29,Carter,Montana,United States,North America,Rocky Mountain,Americas,Northern America,58
10,11,Carrollton Manor,Maryland,United States,North America,Mideast,Americas,Northern America,0
4,5,Carrollton,Ohio,United States,North America,Great Lakes,Americas,Northern America,3241
48,49,El Lago,Texas,United States,North America,Southwest,Americas,Northern America,2706
39,40,El Dara,Illinois,United States,North America,Great Lakes,Americas,Northern America,78
53,54,El Negro,Puerto Rico (US Territory),United States,North America,External,Americas,Northern America,1075
75,76,El Rito,New Mexico,United States,North America,Southwest,Americas,Northern America,808

In [75]:
df_city.shape

(97, 9)

In [76]:
df_city = df_city[df_city.City != 'Unknown']
df_city['City'] = df_city['City'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))
df_city.shape

(97, 9)

In [77]:
df_city.iloc[49]

City_Key                                              50
City                                          El Mangi12
State_Province                Puerto Rico (US Territory)
Country                                    United States
Continent                                  North America
Sales_Territory                                 External
Region                                          Americas
Subregion                               Northern America
Latest_Recorded_Population                          1482
Name: 49, dtype: object

In [78]:
df_customer.shape

(402, 7)

In [79]:
df_customer.sample(10)

,Customer_Key,Customer,Bill_To_Customer,Category,Buying_Group,Primary_Contact,Postal_Code
319,320,Wingtip Toys (Boynton- OK),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Aani Sen,90760.0
352,353,Wingtip Toys (Shay- PA),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Noel Cartier,90759.0
163,164,Tailspin Toys (Rothsville- PA),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Ceyhun sahin,90538.0
196,197,Tailspin Toys (Magalia- CA),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Mani Poddar,90226.0
179,180,Tailspin Toys (Caselton- NV),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Serkan senturk,90747.0
258,259,Wingtip Toys (Coker- AL),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Miguel Paez,90364.0
44,45,Tailspin Toys (Severna Park- MD),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Lap Dinh,90326.0
199,200,Tailspin Toys (Tooele- UT),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Fanni Benko,90100.0
382,383,Wingtip Toys (Montoya- NM),Wingtip Toys (Head Office),Novelty Shop,Wingtip Toys,Pavel Bohuslav,90683.0
143,144,Tailspin Toys (Larose- LA),Tailspin Toys (Head Office),Novelty Shop,Tailspin Toys,Pramod Nishad,90342.0

In [80]:
df_customer = df_customer[df_customer.Customer != 'Unknown']
df_customer['Primary_Contact'] = df_customer['Primary_Contact'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))
df_customer['Customer'] = df_customer['Customer'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))

In [81]:
df_customer.iloc[389]

Customer_Key                                390
Customer            Wingtip Toys (Alcester- SD)
Bill_To_Customer     Wingtip Toys (Head Office)
Category                           Novelty Shop
Buying_Group                       Wingtip Toys
Primary_Contact          Deviprasad PrabhupA?da
Postal_Code                             90797.0
Name: 389, dtype: object

In [82]:
df_date.shape

(1461, 9)

In [83]:
df_employee.shape

(212, 4)

In [84]:
df_employee = df_employee[df_employee.Employee != 'Unknown']
df_employee['Employee'] = df_employee['Employee'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))
df_employee['Preferred_Name'] = df_employee['Preferred_Name'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))

In [85]:
df_stock_item.shape

(671, 14)

In [86]:
df_stock_item = df_stock_item[df_stock_item.Stock_Item != 'Unknown']
df_stock_item['Stock_Item'] = df_stock_item['Stock_Item'].apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore'))

In [87]:
df_fact_order.shape

(1000, 15)

In [88]:
df_city.to_csv('dimension_city.csv', index=False)
df_customer.to_csv('dimension_customer.csv', index=False)
df_date.to_csv('dimension_date.csv', index=False)
df_employee.to_csv('dimension_employee.csv', index=False)
df_stock_item.to_csv('dimension_stock_item.csv', index=False)
df_fact_order.to_csv('fact_order.csv', index=False)